<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arm_moveit_config" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.82408475740692E-07 3.51716014116571E-06 0.00902025307315796"
        rpy="0 0 0" />
      <mass
        value="0.60011276629095" />
      <inertia
        ixx="0.00142271929258347"
        ixy="-1.84401120983585E-08"
        ixz="2.64639323591038E-09"
        iyy="0.00138396714319161"
        iyz="-9.69141190431636E-08"
        izz="0.00267251954660065" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="j1_Link">
    <inertial>
      <origin
        xyz="-2.25326300728329E-05 -0.00342275072724877 0.0379899100804355"
        rpy="0 0 0" />
      <mass
        value="0.178697895382468" />
      <inertia
        ixx="7.96290461236134E-05"
        ixy="-2.55980621473893E-08"
        ixz="2.94304187302059E-08"
        iyy="9.47363858187913E-05"
        iyz="-6.46778588079751E-06"
        izz="7.8156443139259E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.06325"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="j1_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="j2_Link">
    <inertial>
      <origin
        xyz="-0.00135368470830714 -0.0327452686736335 0.145506466953471"
        rpy="0 0 0" />
      <mass
        value="0.211213463648386" />
      <inertia
        ixx="0.000200708429393069"
        ixy="1.90332013937878E-08"
        ixz="-5.59683345647393E-08"
        iyy="0.000205676730407957"
        iyz="5.15467557655524E-06"
        izz="9.53384585245288E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.00131462848711156 0.0307218850468486 0.0419000000004602"
      rpy="0 0 0" />
    <parent
      link="j1_Link" />
    <child
      link="j2_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="j3_Link">
    <inertial>
      <origin
        xyz="-2.31977252411891E-05 0.00291620685835801 0.0400293534088073"
        rpy="0 0 0" />
      <mass
        value="0.179709253046595" />
      <inertia
        ixx="8.11995141559787E-05"
        ixy="3.02662559213173E-08"
        ixz="1.22308541818743E-08"
        iyy="9.67926159536255E-05"
        iyz="6.76084403303746E-06"
        izz="7.86977187926718E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j3_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j3_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.0013146289850085 -0.0418718855621362 0.18579999999954"
      rpy="0 0 0" />
    <parent
      link="j2_Link" />
    <child
      link="j3_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="j4_Link">
    <inertial>
      <origin
        xyz="2.8138845573622E-06 0.0348796386523789 0.0675512627754727"
        rpy="0 0 0" />
      <mass
        value="0.177550051277323" />
      <inertia
        ixx="8.32581338510292E-05"
        ixy="9.65461937237846E-08"
        ixz="-5.50722185618927E-09"
        iyy="8.77595407624007E-05"
        iyz="-4.80729587152776E-06"
        izz="8.41215441102613E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j4_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j4_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 -0.0312499999913049 0.0442000000000001"
      rpy="0 0 0" />
    <parent
      link="j3_Link" />
    <child
      link="j4_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="j5_Link">
    <inertial>
      <origin
        xyz="-0.00184970905153788 2.16860324166526E-06 0.0451788162709378"
        rpy="0 0 0" />
      <mass
        value="0.157116859389308" />
      <inertia
        ixx="5.66350767579387E-05"
        ixy="-7.52983881241509E-10"
        ixz="-6.07294422055277E-07"
        iyy="6.6160220625435E-05"
        iyz="-2.69360080465267E-08"
        izz="6.2338022622218E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j5_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j5_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0.0424000000001972 0.0937500000000001"
      rpy="0 0 0" />
    <parent
      link="j4_Link" />
    <child
      link="j5_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="j6_Link">
    <inertial>
      <origin
        xyz="-0.0364705248387309 -0.00117965044201978 -0.000196659498385099"
        rpy="0 0 0" />
      <mass
        value="0.110800280960581" />
      <inertia
        ixx="3.15911686560786E-05"
        ixy="6.05086670240964E-08"
        ixz="8.86134513055527E-08"
        iyy="4.27157351222461E-05"
        iyz="-1.80740488192061E-08"
        izz="3.13351266815023E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j6_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j6_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.0365000000003447 0 0.118365606252056"
      rpy="0 0 0" />
    <parent
      link="j5_Link" />
    <child
      link="j6_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.48869"
      upper="0.2618"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="j7_Link">
    <inertial>
      <origin
        xyz="-1.00902402984382E-06 0.027078472455816 0.0139616017507818"
        rpy="0 0 0" />
      <mass
        value="0.0203505291651144" />
      <inertia
        ixx="5.76506430448727E-06"
        ixy="1.55863612965333E-11"
        ixz="-1.90910700620933E-10"
        iyy="6.74337060270656E-06"
        iyz="2.19860593205127E-07"
        izz="1.23826793973668E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j7_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/j7_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="revolute">
    <origin
      xyz="-0.0364999999999951 -0.0335000000000003 0"
      rpy="0 0 0" />
    <parent
      link="j6_Link" />
    <child
      link="j7_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="end_Link">
    <inertial>
      <origin
        xyz="-9.71445146547012E-17 7.28583859910259E-17 -0.00298069637661413"
        rpy="0 0 0" />
      <mass
        value="0.0119347262769104" />
      <inertia
        ixx="2.18134184265499E-06"
        ixy="-1.55602316956672E-23"
        ixz="3.06706913411955E-25"
        iyy="1.85967097750026E-06"
        iyz="-1.53591707536522E-20"
        izz="3.96776960696623E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/end_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_moveit_config/meshes/end_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="end_effector"
    type="fixed">
    <origin
      xyz="0 0.0335 0.05"
      rpy="0 0 0" />
    <parent
      link="j7_Link" />
    <child
      link="end_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>